# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Icon?
._*

# Python specific
# Программы и библиотеки Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.whl

# Виртуальные окружения
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Pipenv
Pipfile.lock

# PyInstaller
# Бинарные файлы после сборки
/dist/
/build/
/*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/

# VS Code
.vscode/

# PyCharm
.idea/

# Системные файлы macOS
.DS_Store
.AppleDouble
.LSOverride

# Удалённые файлы от разного ПО
*.swp
*.swo
*.lock

# Прочие временные файлы и логи
*.log
*.pot
*.py~ 
